<!doctype html>
<html>
<head>
  <title>Beyond415 Angular Cart</title>

  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css">

  <style>
    body { background: #f9f9f9; padding-top: 10px; }
    h3.page-header { margin-top: 0; }
    label { display: block; font-weight: normal; }
    ul { margin-bottom: 0; }
    .list-inline :first-child { padding-left: 0; }
    select { padding: 4px; }
    .row { margin-bottom: 20px; }
    p:last-child { margin-bottom: 0; }
  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="js/cart.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/factories.js"></script>
</head>
<body ng-app="cart">
  <div class="container" ng-controller="CartCtrl">
    <div class="row">
      <div class="col-md-12">
        <h1>B415 AngularJS Cart demo</h1>
        <p>Reproducing B415 cart functionality using AngularJS. (<a href="https://github.com/tylerrash/b415-angular-cart">repository</a>)
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <ul class="list-inline panel-body">
            <li><strong>Tests:</strong></li>
            <li><a href="#" ng-click="setPromoCode()">Default</a></li>
            <li><a href="#" ng-click="setPromoCode('DISCOUNT50')">50% promo</a></li>
            <!-- <li><a href="#" ng-click="upgradeToWorkCenter()">Upgrade to WorkCenter</a></li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel">
          <div class="panel-body">
            <h3 class="page-header">Config</h3>

            <div class="form-group">
              <h4>Product</h4>
              <select ng-model="product" 
                      ng-options="k as v.name for (k, v) in products">
              </select>
            </div>

            <div class="form-group" ng-hide="products[product].components == null">
              <h4>Add-Ons</h4>
              <label>
                <input 
                  type="checkbox" 
                  value="{{ isComponentSelected }}"
                  ng-model="isComponentSelected"
                  ng-checked="{{ isComponentSelected }}">
                  {{ products[product].components.name }}
              </label>
            </div>

            <div class="form-group">
              <h4>Additional Users</h4>
              <select ng-model="user">
                <option ng-repeat="user in users" value="{{ user }}">{{ user }}</option>
              </select>
            </div>

            <div class="form-group">
              <h4>Billing Term</h4>
              <select ng-model="term" 
                      ng-options="k as v.name for (k, v) in terms">
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel">
          <div class="panel-body">
            <h3 class="page-header">Cart</h3>
            <table class="table">
              <tr>
                <th style="width:40%">Product</th>
                <td style="width:45%">{{ products[product].name }} 
                <td style="width:15%"><span ng-hide="product == null">${{ products[product].price[term] }}</span></td>
              </tr>
              <tr ng-hide="products[product].components == null || !isComponentSelected">
                <th>Add-On</th>
                <td>{{ products[product].components.name }}</td>
                <td>${{ products[product].components.price[term] }}</td>
              </tr>
              <tr ng-hide="user == null || user == 0">
                <th>Additional Users</th>
                <td>{{ user }}</td>
                <td>${{ calcUsersPrice() }}</td>
              </tr>
              <tr ng-hide="promoCode == null">
                <th>Promotion</th>
                <td>{{ promos[promoCode].name }}</td>
                <td>-${{ calcDiscount() }}</td>
              <tr>
                <th colspan="2">TOTAL<span ng-hide="term == null"> (billed {{ term }})</span>:</th>
                <th>${{ calcTotal() }}</th>
            </table>

            <button 
              class="btn btn-primary"
              ng-hide="product == null || term == null"
              ng-click="submitOrder()">
              Purchase
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>